#root{
    margin: 0;
    padding: 0;;
}

html, body {
    margin: 0;
    padding: 0;
    background: #1c1b2f;
    color: white;
  }

  *{
    margin: 0;
    padding: 0;
    /* outline: 1px solid red;  */
  }
  /*
    outline: 1px solid red; /* Helps spot rogue elements */

/* 
   {
    outline: 1px solid red; 
  }  