#root{
    margin: 0;
    padding: 0;;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #1c1b2f;
    color: aliceblue;

  }

  /*
    outline: 1px solid red; /* Helps spot rogue elements */


  